.imagen{
 
    width: 100px;
    height: 100px;
    border: 1px solid red;    
}
 
@keyframes animar {
    from  { 
        transform:rotate(0deg) ;  
    }
    to    { 
        transform:rotate(360deg) 
    }
}
 
form input#apagador:checked + div{
     
    animation: animar 5s infinite ;



}


 
form input#mostar:checked + div{     
    display:none;
    }