*{

    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

$naranja: #e18525;
$verde: #016972;
$verdeobscuro : #00403f;
$letraparrafo: hsl(0, 0%, 95%);

main
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;        
    height: 100vh;

    section
    {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
        height: 90%;  
        width:100%;   
        
        
        div{
            height: 33%;
            width: 90%;
            padding-left: 10%;
            padding-right: 10%;
            padding-top: 5%;
            padding-bottom: 5%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            img{
                width: 2.5em;
                height:1.5em;

            }


            
            h1{
                
                    color: hsl(0, 0%, 95%);
                    font-family: 'Big Shoulders Display', cursive;
                    
            }

        
            p{
                color: lightgrey;
                font-family: 'Lexend Deca', sans-serif;
                font-size: 9px;

            }
            
        

            button{
                color:hsla(0, 0%, 100%, 0.75);
                font-family: 'Lexend Deca', sans-serif;
                border-radius: 20px;
                border: transparent;
                font-size: 8px;
                width:80px;
                height:25px;
                background-color:  $letraparrafo;
            }
 
        }

      
        #sedan{

            background-color: $naranja;

            button{
                
                color: $naranja
            }
           
        }
        #suvs{

            background-color: $verde;

            button{
                
                color: $verde;
            }
   
        }
        #luxury{

            background-color: $verdeobscuro;

            button{
                
               
                color: $verdeobscuro
            }
   
        }

      


    }
}

/*Desktop media query*/
@media only screen and ( min-width:992px ){
    main{
        section{
            flex-direction: row;
            justify-content: center;

            height: 50%;  
            width:80%;   

            div{
                height:90%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-left: 5%;
                padding-right: 5%;
                padding-top: 5%;
                padding-bottom: 5%;


                img{
                    width: 3em;
                    height:2em;
    
                }

                p{
                     font-size: 11px;
    
                }


                button{
                    color:hsla(0, 0%, 100%, 0.75);
                    font-family: 'Lexend Deca', sans-serif;
                    border-radius: 20px;
                    border: transparent;
                    font-size: 12px;
                    width:100px;
                    height:40px;
                }
                
                
                
            }

            

        }

    }
    
}




