* {
  margin: 0;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
  width: 100%;
  max-width: 500px;
}

main section div {
  height: 33%;
  width: 90%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section div img {
  width: 2.5em;
  height: 1.5em;
}

main section div h1 {
  color: #f2f2f2;
  font-family: 'Big Shoulders Display', cursive;
}

main section div p {
  color: lightgrey;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 9px;
}

main section div label {
  color: lightgrey;
  font-family: 'Big Shoulders Display', cursive;
  font-size: 1.6rem;
}

main section div button {
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  border-radius: 20px;
  border: transparent;
  font-size: 8px;
  width: 80px;
  height: 25px;
  background-color: #f2f2f2;
}

main section #sedan {
  background-color: #e18525;
}

main section #sedan button {
  color: #e18525;
}

main section #suvs {
  background-color: #016972;
}

main section #suvs button {
  color: #016972;
}

main section #luxury {
  background-color: #00403f;
}

main section #luxury button {
  color: #00403f;
}

/*Desktop media query*/
@media only screen and (min-width: 992px) {
  main section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 70%;
    width: 80%;
    max-width: unset;
  }
  main section div {
    height: 90%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  main section div img {
    width: 3em;
    height: 2em;
  }
  main section div p {
    font-size: 13px;
  }
  main section div label {
    font-size: 2.5rem;
  }
  main section div button {
    font-family: 'Lexend Deca', sans-serif;
    border-radius: 20px;
    font-size: 12px;
    width: 100px;
    height: 40px;
  }
}
/*# sourceMappingURL=style.css.map */