
*{
    box-sizing: border-box;
    margin:0;
    padding:0;   
    color:white;

}

body {
        background-color: hsl(233, 47%, 7%);        
        
}

h1{
    font-family: 'Inter', sans-serif;
}



main{
    padding: 15%;
}


section {
    width: 100%;
    height: 50vh;    
}

article {
    width: 50%;     
    height: 100%;
    float:left;
    background-color:hsl(244, 38%, 16%);
    padding: 5%;
    
}


img {  
    width: 50%;     
    height: 100%;
    float:right;
    filter: invert(0.3) sepia(1) hue-rotate(220deg) saturate(190%) brightness(0.50) contrast(180%);
}

h1{

    font-size: 1.7rem;
    margin-bottom: 4rem;
    padding-right: 15%;
}

p{
    
    margin-bottom: 4rem;
    padding-right: 15%;
}


.section-texto-span-h1 {

    color:hsl(277, 64%, 61%);
    }

.section-numero-stat{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color:white;

}

.section-texto-stat{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.7rem;
    color:hsla(0, 0%, 100%, 0.75);
}


ul{

    margin:  0;
    padding: 0;
    
}

li{
    display:inline-table;
    padding-right: 10%;
}













